/* Fonts */

@font-face {
  font-family: "Roboto";
  src:
    url(../fonts/roboto.woff2) format("woff2"),
    url(../fonts/roboto.woff) format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src:
    url(../fonts/robotomedium.woff2) format("woff2"),
    url(../fonts/robotomedium.woff) format("woff ");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src:
    url(../fonts/robotobold.woff2) format("woff2"),
    url(../fonts/robotobold.woff) format("woff ");
  font-weight: 700;
  font-style: normal;
}

/* Variables */

:root {
  --basic-black: #000000;
  --basic-extra-dark: #283136;
  --basic-dark: #666666;
  --basic-gray-400: #EEEEEE;
  --basic-gray-500: #DFDFDF;
  --basic-gray-700: #D5D5D5;


  --basic-white: #FFFFFF;

  --special-red-400: #FB565A;
  --special-red-500: #E74246;
  --special-red-700: #D7373B;


  --special-green-400: #00CA74;
  --special-green-500: #00BC6C;
  --special-green-700: #00AA62;

  --special-gold-400: #EFC849;
  --special-gold-500: #EAB534;
  --special-gold-700: #E5A722;
}

/* Global */

body {
  min-width: 1440px;
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--basic-black);
  background-color: var(--basic-white);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* Main navigation */

.main-navigation {
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  text-transform: uppercase;
  background-color: var(--basic-gray-400);
}

.site-navigation {
  list-style: none;
}

.site-navigation a {
  color: var(--basic-black);
}

.site-navigation a:hover,
.site-navigation a:focus,
.cart:hover,
.cart:active {
  color: var(--special-red);
}

/* .site-navigation a:active {

} */

.active {
  text-decoration: underline;
}

/* Slider */

.slider .title {
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
}

.slider .text {
  color: var(--basic-extra-dark);
}

/* Button */

.button {
  text-align: center;
  color: var(--basic-white);
  text-transform: uppercase;
  background-color: var(--special-red-400);
  border: none;
}

.button:hover,
.button:focus {
  background-color: var(--special-red-500);
}

.button:active  {
  background-color: var(--special-red-700);
}

/* Services */

.services-list {
  list-style-type: none;
}

.services h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
}

.services p {
  color:var(--basic-extra-dark);
}

.app .button {
  background-color: var(--special-green-400);
}

.app .button:hover,
.app .button:focus {
  background-color: var(--special-green-500);
}

.slides .button {
  background-color: var(--special-gold-400);
}

.slides .button:hover,
.slides .button:focus {
  background-color: var(--special-gold-500);
}

/* Company */

.slogan {
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
}

.features .text {
  color: var(--basic-extra-dark);
}

.feature-item {
  color: var(--basic-extra-dark);
}

.company .subtitle {
  font-weight: 700;
  text-transform: uppercase;
}

.features-list {
  list-style-type: none;
}

.description-details {
  line-height: 18px;
  color: var(--basic-extra-dark);
}

.description-term {
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  line-height: 64px;
}

.description-term span {
  font-weight: 700;
  font-size: 26px;
  line-height: 40px;
}

.precision {
  background-image: url(../img/logo/nerds-big-logo.png);
  background-repeat: no-repeat;
  background-position: top;
}

/* Clients */

.clients-list {
  list-style-type: none;
}

.clients-list li:first-child {
  opacity: 0.2;
}

/* Надо заменить файлы логотипов и сделать прозрачность */

/* Main footer */

.footer-contacts .title {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
}

.footer-contacts address {
  font: inherit;
  line-height: 18px;
  color: var(--basic-dark);
}

.contacts-phone {
  font: inherit;
  line-height: 18px;
  color: var(--basic-dark);
}

.footer-social .slogan {
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
}

.footer-social .text {
  line-height: 22px;
  color: #444444;
}

.social-list {
  list-style-type: none;
}

.social-list .social-item {
  background-color: var(--basic-dark);
  background-repeat: no-repeat;
}

.social-list .vk {

  background-image:url(../img/icons/vk-icon.svg);
}

.social-list .fb {
  background-image: url(../img/icons/fb-icon.svg);
}

.social-list .insta {
  background-image: url(../img/icons/insta-icon.svg);
}

/* Modal */

.modal-description {
  font-weight: 700;
  font-size: 45px;
  line-height: 53px;
}

.field-label,
.field {
  line-height: 18px
}

.field-label {
  font-weight: 700;
}

.field {
  color: #444444;
  ;
}
